div[id="audio_lists"] {
    width: 100%;
    margin: 0 auto;
    font-size: 0;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    width: 50%;
    padding: 1rem 0;
    display: inline-block;
    background-color: #ccc;
    color: #999;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 auto;
}

input[type="radio"]:checked + label {
    background-color: #aaa;
    color: #000;
    margin: 0;
}

.audio_contents_box {
    width: 100%;
    margin: 0 auto;
    display: none;
    font-size: 100px;
}

input[id="audio_current_playlist"]:checked ~ .con01 {
    display: block;
}

input[id="audio_all_list"]:checked ~ .con02 {
    display: block;
}

#audio_controller {
    width: 100%;
    text-align: center;
}

#audio_controller ul {
    width: 70%;
    padding-left: 0;
    padding-inline-start: 0;
    margin: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    color: var(--text--color);
}

#audio_controller #audio_play {
    font-size: 4rem;
}

#audio_controller ul i {
    color: var(--accent--color);
    padding: 1rem
}