#audio_tabs {
    width: 100%;
    display: flex;
    text-align: center;
}

#audio_tabs label {
    width: 50%;
    padding: 1rem 0;
    display: inline-block;
    background-color: #ccc;
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 auto;
}

input[id="audio_current_playlist"]:checked ~ #audio_tabs > label[for="audio_current_playlist"],
input[id="audio_all_list"]:checked ~ #audio_tabs > label[for="audio_all_list"] {
    background-color: #aaa;
    color: #000;
    margin: 0;
}

input[type="radio"] {
    display: none;
}

label[class="audio_play_pause_buttons"] {
    display: none;
    font-size: 4rem;
}

input[id="audio_play_radio"]:checked ~ label[for="audio_pause_radio"],
input[id="audio_pause_radio"]:checked ~ label[for="audio_play_radio"] {
    display: block;
}

.audio_contents_box {
    width: 100%;
    margin: 0 auto;
    display: none;
    font-size: 100px;
}

input[id="audio_current_playlist"]:checked ~ .con1 {
    display: block;
}

input[id="audio_all_list"]:checked ~ .con2 {
    display: block;
}

#audio_controller {
    width: 100%;
    text-align: center;
}

#audio_controller ul {
    width: 70%;
    padding-left: 0;
    padding-inline-start: 0;
    margin: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    color: var(--text--color);
}

#audio_controller ul i {
    color: var(--accent--color);
    padding: 1rem
}