#footer_section {
    width: 100%;
    background-color: #000;
}

.footer_texts {
    width: 100%;
    margin: 0;
    list-style-type: none;
    padding-inline-start: 0;
}

.phone_bg {
    color: #fff;
    font-size: 0.9rem;
}

.adress_bg {
    color: #ddd;
    font-size: 1.1rem;
    border-bottom: 0.0020833333333333rem solid #333;
}

.copy_bg {
    margin-top: 0.3rem;
    color: #aaa;
    font-size: 1.1rem;
}

@media screen and (max-width: 1920px) {
    .phone_bg {
        font-size: 0.7rem;
    }

    .adress_bg {
        font-size: 0.9rem;
        border-bottom: 0.0015rem solid #333;
    }

    .copy_bg {
        margin-top: 0.25em;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1280px) {
    .phone_bg {
        font-size: 0.5rem;
    }

    .adress_bg {
        font-size: 0.7rem;
        border-bottom: 0.001rem solid #333;
    }

    .copy_bg {
        margin-top: 0.2em;
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 768px) {
    .phone_bg {
        font-size: 0.3rem;
    }

    .adress_bg {
        font-size: 0.5rem;
        border-bottom: 0.0005rem solid #333;
    }

    .copy_bg {
        margin-top: 0.15em;
        font-size: 0.7rem;
    }
}