:root {
    --text--color: #3388ff;
    --unused--text--color: #ffbbff;
    --background--color: white;
    --accent--color: #d49466;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text--color);
}

.navigation_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background--color);
    padding: 8px 12px;
}

.navigation__logo {
    font-size: 30px;
    color: var(--text--color);
    cursor: default;
}

.navigation__logo i {
    color: var(--accent--color);
}

div[class="sidebar"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navigation__menu li {
    padding: 4px 8px;
}

.navigation__menu li span {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--unused--text--color);
    cursor: default;
}

.navigation__menu li span.active {
    cursor: pointer;
    color: var(--text--color);
}

.navigation__menu li:hover {
    background-color: var(--accent--color);
    border-radius: 4px;
}

.navigation__icons {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.navigation__icons li a {
    padding: 4px 8px;
}

.navigation__icons li i {
    color: var(--text--color);
}

.navigation__icons li a:hover {
    background-color: var(--accent--color);
    border-radius: 4px;
}

input[id="menuicon"] {
    display: none;
}

input[id="menuicon"] + label {
    display: none;
}

input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background-color: #000;
    transition: all .20s;
}

@media screen and (max-width: 768px) {
    .navigation_bar {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    div[class="sidebar"] {
        background-color: #dddddd;
        width: 100%;
        height: 100%;
        flex-direction: column;
        position: fixed;
        z-index: 1;
        top: 0;
        right: -100%;
        transition: all .45s;
    }

    .navigation__menu {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .navigation__menu li {
        width: 100%;
        text-align: center;
    }

    .navigation__icons {
        justify-content: center;
        width: 100%;
        padding-inline-start: 0;
        margin: 0;
    }

    input[id="menuicon"] + label {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        position: fixed;
        cursor: pointer;
        top: 0.2rem;
        right: 0.5rem;
        z-index: 2;
    }
}

input[id="menuicon"] + label span:nth-child(1) {
    top: 0;
}

input[id="menuicon"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

input[id="menuicon"] + label span:nth-child(3) {
    bottom: 0;
}

input[id="menuicon"]:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity: 0;
}

input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

input[id="menuicon"]:checked + label + div {
    right: 0;
}