#profile-image {
    height: 30rem;
    width: auto;
}

#profile-title {
    font-size: 2.5rem;
    color: white;
    margin: 0;
}

.section .slide_wrap {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.section .slide_wrap > ul {
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.section .slide_list {
    white-space: nowrap;
    font-size: 0;
}

.section .slide_list > li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;
}

.section .slide_list > li > a {
    display: block;
    position: relative;
}

.section .slide_list > li > a img {
    width: 100%;
}

.section .slide_list label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}

.section .slide_list .left {
    left: 15px;
    font-size: 50px;
}

.section .slide_list .right {
    right: 15px;
    font-size: 50px;
}

.section [id="slide00"]:checked ~ .slide_wrap .slide_list > li {
    transform: translateX(0%);
}

.section [id="slide01"]:checked ~ .slide_wrap .slide_list > li {
    transform: translateX(-100%);
}

.section [id="slide02"]:checked ~ .slide_wrap .slide_list > li {
    transform: translateX(-200%);
}

.section [id="slide03"]:checked ~ .slide_wrap .slide_list > li {
    transform: translateX(-300%);
}

.section [id="slide04"]:checked ~ .slide_wrap .slide_list > li {
    transform: translateX(-400%);
}

.section [id="slide05"]:checked ~ .slide_wrap .slide_list > li {
    transform: translateX(-500%);
}

.section [id="slide06"]:checked ~ .slide_wrap .slide_list > li {
    transform: translateX(-600%);
}

@media screen and (max-width: 1920px) {
    #profile-image {
        height: 25rem;
        width: auto;
    }
    #profile-title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1280px) {
    #profile-image {
        height: 20rem;
        width: auto;
    }
    #profile-title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    #profile-image {
        width: 100%;
        height: auto;
    }
    #profile-title {
        font-size: 1rem;
    }

    .section .slide_list label {
        padding: 0.5rem;
        color: #000000;
    }

    .section .slide_list .left {
        left: 0;
        font-size: 3.5rem;
    }

    .section .slide_list .right {
        right: 0;
        font-size: 3.5rem;
    }
}