body {
    width: 100vw;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    width: 100%;
}

main {
    width: 100%;
}

#container {
    width: 100%;
    background-color: black;
}

@media screen and (max-width: 768px) {
    #container.active {
        display: none;
    }
}
